<div class="section">
    <h5>Actors</h5>
    <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>bYear</th>
          <th>Select</th>
        </tr>
        <tr *ngFor="let item of actorsDB">
          <td>{{item.name}}</td>
          <td>{{item.bYear}}</td>
          <td><button type="submit" class="btn btn-primary" onclick="this.style.backgroundColor='green'" (click)="onSelectActor(item)">Select</button></td>
        </tr>
    </table>
    <h5>Movies</h5>
    <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Select</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
          <td>{{item.title}}</td>
          <td>{{item.year}}</td>
          <td><button type="submit" class="btn btn-primary" onclick="this.style.backgroundColor='green'" (click)="onSelectMovie(item)">Select</button></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary" (click)="onAddActor2Movie()">Add</button>
</div>